<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Default Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="siteHeader">
    <div class="mural-header" style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #2ecc71; color: white;">
        <div>
            <b th:text="#{cabecalho.usuario}">Usuário:</b>
            <span th:text="${#authentication.name}">Teste</span>
        </div>

        <div>
            <a th:href="@{''(lang=pt)}" style="color: white; margin-right: 10px; text-decoration: none; font-weight: bold;">PT 🇧🇷</a>
            <a th:href="@{''(lang=en)}" style="color: white; text-decoration: none; font-weight: bold;">EN 🇺🇸</a>
        </div>
    </div>
</div>
</body>
</html>